<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734070076682-un43dbtqvanjvavvpj7681b53mb89652.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734070076682-un43dbtqvanjvavvpj7681b53mb89652</string>
	<key>API_KEY</key>
	<string>AIzaSyAhTSggKY-JiVku3hBR6UgfHCBQpYxvp5g</string>
	<key>GCM_SENDER_ID</key>
	<string>734070076682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paytondeveloper.justone</string>
	<key>PROJECT_ID</key>
	<string>justone-mp</string>
	<key>STORAGE_BUCKET</key>
	<string>justone-mp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734070076682:ios:3860f57b221241d9b536f3</string>
</dict>
</plist>